:root
	--base-font: 'Manrope', sans-serif
	--secondary-font: 'Abril Fatface', cursive
	--dark: #1E1E20
	--light: #FFF
	--beige: #FEFAF0
	--orange: #DB8C3F
	--orange-light: #F8F2E3
	--green: #21565A
	--light-green: #B8C26C
	--yellow: #FED40C

$xs = '(max-width: 991px)'
$xxsPlus = '(min-width: 576px)'
$xxs = '(max-width: 575px)'
$smMinus = '(max-width: 1199px)'
$sm = '(min-width: 992px) and (max-width: 1199px)'
$smPlus = '(min-width: 992px)'
$md = '(min-width: 1200px)'
$mdMinus = '(max-width: 1599px)'
$lg = '(min-width: 1600px)'
$xlMinus = '(max-width: 1919px)'
$xlPlus = '(min-width: 1920px)'