.contact-section
	padding-top 48px
	padding-bottom 50px
	
	@media $smMinus
		padding-top 40px
		padding-bottom 40px
	
	@media $xs
		padding-top 30px
		padding-bottom 30px
	
	@media $xxs
		padding-top 20px
		padding-bottom 20px
	
	&__inner
		display grid
		grid-template-columns 544px 1fr
		gap 73px
		background var(--orange-light)
		
		@media $mdMinus
			grid-template-columns 480px 1fr
		
		@media $smMinus
			grid-template-columns 400px 1fr
		
		@media $xs
			grid-template-columns 100%
			gap 20px
	
	&__img-wrapper
		@media $xs
			width 400px
			max-width 100%
	
	&__col
		&--first
			position relative
			z-index 10
			
		&--second
			padding 60px 70px 0
			
			@media $mdMinus
				padding 40px 70px 0 40px
				
			@media $smMinus
				padding 20px 20px 0 20px
				
			@media $xs
				padding 20px