.section-title
	font-weight 400
	font-size 50px
	line-height 99.4%
	font-family var(--secondary-font)
	text-transform capitalize
	
	@media $mdMinus
		font-size 42px
	
	@media $smMinus
		font-size 34px
	
	@media $xs
		font-size 30px
	
	@media $xxs
		font-size 26px